body {
  font-family: 'Inter', sans-serif;
  margin: 0px;
}

.a--tag {
  text-decoration: none;
  margin-right: 34px;
}

 .home--page {
  display: flex;
  align-items: center;
}

#logo {
  margin-right: auto;
  margin-left: 20px;
}
 
.header {
  display: flex;
  margin-right: 30px;
  align-items: center;
}

.home--body {
  display: flex;
  margin-top: 40px;
  margin-bottom: 100px;
} 

.home--page {
  background: transparent;
  box-shadow: .2px .2px 20px #888888;
  height: 70px;
}
.image--text1 {
  width: 500px;
  margin-left: 30px;
  margin-top: 80px;
}

.image--text1 h1 {
  font-weight: bolder;
  margin-bottom: -8px;
}

.investigating--text--block {
  font-weight: bolder;
  font-size: larger;
}
.image--text1 p {
  margin-top: 30px;
  letter-spacing: 0.4px;
  margin-bottom: 25px;
}
button {
  font-size: 14px;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background: #7050c1;
  border: none;
  color: white;
}
button:hover {
  color: #7050c1;
  border: 1px solid #7050c1;
  background: transparent;
}

.the--divs {
  width: 200px;
  height: 200px;
  background: #7050c1;
}