body {
  font-family: 'Inter', sans-serif;
  margin: 0px;
}

.a--tag {
  text-decoration: none;
  margin-right: 34px;
}

 .home--page {
  display: flex;
  align-items: center;
}

#logo {
  margin-right: auto;
  margin-left: 20px;
}
 
.header {
  display: flex;
  margin-right: 30px;
  align-items: center;
}

.home--body {
  display: flex;
  margin-top: 40px;
  margin-bottom: 100px;
} 

.home--page {
  background: transparent;
  box-shadow: .2px .2px 20px #888888;
  height: 70px;
}
.image--text1 {
  width: 500px;
  margin-left: 30px;
  margin-top: 80px;
}

.image--text1 h1 {
  font-weight: bolder;
  margin-bottom: -8px;
}

.investigating--text--block {
  font-weight: bolder;
  font-size: larger;
}
.image--text1 p {
  margin-top: 30px;
  letter-spacing: 0.4px;
  margin-bottom: 25px;
}
button {
  font-size: 14px;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background: #7050c1;
  border: none;
  color: white;
}
button:hover {
  color: #7050c1;
  border: 1px solid #7050c1;
  background: transparent;
}

.the--divs {
  width: 290px;
  height: 200px;
  background: #beaad1b6;
  border-radius: 5px;
}

.new--data {
  display: flex;
  justify-content: space-around;
}

.the--div--inside {
  height: 160px;
  width: 260px;
  margin-top: 20px;
  margin-left: 18px;
  letter-spacing: 0.2px;
}

.the--div--inside p {
  font-size: 14px;
  margin-top: -30px;
  
}

.the--div--inside h6 {
  font-size: 18px;
  margin-top: 10px;
}

.the--div2 {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: -22px;
}

.the--div2--text {
  margin-top: 120px;
  letter-spacing: 0.2px;
  margin-right: 25px;
}

.view--all-courses {
  width: 200px;
}

.the--div2--text h3 {
  color: #7050c1;
}

.the--div2--text h1 {
  margin-bottom: -10px;
}

.the--div2--text p {
  margin-top: 40px;
  margin-bottom: 30px;
}

.courses {
  width: 340px;
  height: 400px;
  background: #7050c1;
  border-radius: 5px;
  margin-bottom: 20px;
}

.the--courses--data {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 70px;
}

.courses--data--outer--div {
  display: flex;
  justify-content: center;
}